.App {
  text-align: center;
}
.courseDiv{
  display: inline-flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}
.courseCard{
  width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}

